@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --main-color: #004EEC;
  --background-color: #F9FAFC;
  --input-color: #E6E6E8;
  --text-color-light: #9DA1A4;
  --btn-bg-light:hsl(0 0% 100%);
  --color-red:red;
}

body {
  font-family: 'Noto Sans', sans-serif;

}


.btn {

  padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border-radius: 6px;

}
.btn-light {
  background: var(--btn-bg-light);
  border: 1px solid hsl(0deg 0% 84.25%);
}

.btn-blue-bordered{
  background: var(--btn-bg-light);
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.text-sn {
  font-size: .875rem;
  line-height: 1.25rem;
}

.select-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.required {
  color: var(--color-red);
}

.select-wrapper {
  position: relative;
}

.select-box {
  appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.select-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  outline: none;
}

.select-box::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  pointer-events: none;
}

.select-box option {
  padding: 8px;
  background-color: #fff;
  color: #333;
}
.error-message {
  color: var(--color-red);
  margin:0;
  padding:0;
}

